*{
 
  box-sizing: border-box;
}

.card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;

}

.card{
  border: 2px solid rgb(33, 32, 32);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(33, 32, 32);
}

.card .card-text{
  font-size: 1rem;
  color: rgb(33, 32, 32);
}
