.counter-container {
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.count-display{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button{
  width: 150px;
  height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0px 5px;
  background-color: aquamarine;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: darkcyan;
  color: white;
}

.counter-button:active{
  background-color: darkslategray;
  color: white;
}

